<!--<ul>-->
<!--  <li (click)="editProfil()">-->
<!--    Modifier mon profil</li>-->
<!--    <li  (click)="logout()">-->
<!--      Se deconnecter</li>-->
<!--</ul>-->

<ion-content>
  <ion-item lines="none">
    <ion-buttons slot="start">
      <ion-button (click)="editProfil()">
        Modifier mon profil
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item lines="none">
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        Se deconnecter
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-content>
